# Byte-compiled / optimized / DLL files
uploads/
__pycache__/
*.pyc
instance/
venv/
.env
.DS_Store
.idea/
.vscode/
mypy_cache/
.pytest_cache/
coverage/
htmlcov/
*.sqlite3
*.log
*.pot
*.mo
*.env
*.pyo
*.pyd
*.db
*.sqlite
*.egg-info/
dist/
build/
*.egg
*.log
*.bak
*.swp
*.tmp
*.old
*.orig
*.rej
*.swo
*.class
*.jar
